page-login {
//   ion-content {
//     background-image: url('../../assets/images/backgrounds/bg.jpg');
//   }
  .top-title {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 60px;
  }
  ion-card {
    opacity: 0.93;
    height: 97%;
  }
}
